<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem id="menu_mfd_main"
                  name="MicroFinance Loan"
                  groups="base.group_user"
                  web_icon="microfinance_loan,static/description/icon.png"/>


        <menuitem id="menu_mfd_loan_request"
                  name="MicroFinance Loan Request"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="10"
                  action="action_mfd_loan_request"/>


        <menuitem id="menu_mfd_pir_receipt"
                  name="Installment Receipts"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="11"
                  action="action_mfd_pir_receipt"/>

        <menuitem id="menu_mfd_configuration"
                  name="Configuration"
                  parent="microfinance_loan.menu_mfd_main"
                  sequence="12"/>


        <menuitem id="menu_mfd_customer_management"
                  name="Customers"
                  parent="menu_mfd_configuration"
                  action="account.res_partner_action_customer"/>


        <menuitem id="menu_mfd_bank"
                  name="Bank"
                  parent="menu_mfd_configuration"
                  action="action_mfd_bank"/>

    </data>
</odoo>